<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.body %></td>
        <td><%= User.find(topic.user_id).uid %></td>
        <td><%= button_tag(link_to 'Show', topic) %></td>
        <% if current_user.id == topic.user_id %>
        <td><%= button_tag(link_to 'Edit', edit_topic_path(topic)) %></td>
        <td><%= button_tag(link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>New</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.body %></td>
        <td><%= User.find(topic.user_id).uid %></td>
        <td><%= button_tag(link_to 'Show', topic) %></td>
        <% if current_user.id == topic.user_id %>
        <td><%= button_tag(link_to 'Edit', edit_topic_path(topic)) %></td>
        <td><%= button_tag(link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Hot</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @many_comments_topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.body %></td>
        <td><%= User.find(topic.user_id).uid %></td>
        <td><%= button_tag(link_to 'Show', topic) %></td>
        <% if current_user.id == topic.user_id %>
        <td><%= button_tag(link_to 'Edit', edit_topic_path(topic)) %></td>
        <td><%= button_tag(link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_tag(link_to 'New Topic', new_topic_path) %>
<%= button_tag(link_to 'ログアウト', destroy_user_session_path, method: :delete) %>