<p id="notice"><%= notice %></p>

<p>
  <td><%= image_tag(User.find(@topic.user_id).avatar, :size=>"90x90")%></dt>
</p>
<p>
  <strong>Name:</strong>
  <%= User.find(@topic.user_id).uid  %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<% if current_user.id == @topic.user_id %>
<%= button_tag(link_to 'Edit', edit_topic_path(@topic)) %> |
<% end %>

<%= button_tag(link_to 'Back', topics_path) %>

<h2>Comments</h2>
  <div id="comments">
    <%= render @topic.comments %>
  </div>

  <%= render 'comments/new', post: @topic %>